.container-fluid {
  background-color: #F4F3F5;
}



.btn-1 {
  color: #6200EA;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  font: normal normal bold 12px/15px Montserrat;
  border-radius: 20px;
}

.row-1 {
  height: 80px;
  background-color: #6200EA;
}

.logo-text {
  color: white;
  font-weight: bold;
}

.row-2 {
  background-color: white;
  color: #6200EA;
  font-weight: bold;
  font-size: 1rem;
}

.btn-2 {
  padding-bottom: 40px;
  padding-top: 40px;
  text-transform: uppercase;
}

.photo {
 padding: 10px;
  width: 130px;
  height: 120px;
}

.center {
  height: 80px;
  background-color: #6200EA;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

.font-1 {
  color: #6200EA;
  font-weight: bold;
}

.media-object {
  background-color: white;
}

.font-2 {
  color: white;
  font-size: 12px;
  letter-spacing: 2.4px;
  font-weight: bold;
  padding-left: 60px;
  padding-top: 60px;
}

.font-3 {
  padding-top: 15px;
  font-size: 40px;
  padding-left: 60px;
  color: white;
}

.font-4 {
  font-size: 15px;
  padding-left: 60px;
  color: white;
  opacity: 1;
  padding-top: 15px;
}

.btn-3 {
  border-radius: 20px;
  border-color: white;
  font-weight: bold;
  color: white;
  margin-left: 60px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  margin-top: 15px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  opacity: 1;
  }

.font-5 {
padding-top: 60px;
  padding-left: 60px;
  font: normal normal bold 12px/15px Montserrat;
letter-spacing: 2.4px;
color: #B2ACBA;
text-transform: uppercase;
opacity: 1;
}

.font-6 {
  font: normal normal bold 40px/50px Montserrat;
letter-spacing: 0px;
color: #211138;
opacity: 1;
  padding-top: 15px;
  padding-left: 60px;
}

.font-7 {
 padding-top: 15px;
  padding-left: 60px;
  font: normal normal normal 20px/30px Montserrat;
letter-spacing: 0px;
color: #211138;
opacity: 1;
}

.btn-4 {
  border-radius: 20px;
  border-color: #6200EA;
  font-weight: bold;
  color: #6200EA;
  margin-left: 60px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  margin-top: 15px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 60px;
}







