.container {
   font-family:  	'Montserrat', sans-serif;
  color:        	#211138;
  background-color: #f4f3f5;
box-sizing:             border-box;
}






.row {
  width: 100vw;
  height: 80px;
  background-color: #6200EA;

  
}

.divider {
  width: 100vw;
  height: 16px;
}

.btn-subscribe {
  float: left;
  width: 13vw;
  margin-left: 20vw;
  padding: 1rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #FFFFFF;
border-radius: 24px;
}








