.container-fluid {
   font-family:  	'Montserrat', sans-serif;
  
box-sizing:             border-box;
}

.btn-1, .logo-text, .btn-2 {
  display: inline-block;
}

.btn-1 {
  margin-left: 20vw;
  margin-top:  26px;
}

.logo-text {
  text-align: center;
  margin-left: 20vw;
}

.row-2 {
  height: 80px;
}

.palm {
  background: url("https://imgur.com/o7RKcJH")  no-repeat padding-box;
border-radius: 15px;
  height: 350px;
}



